*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: #ece0e0;
  color: #333;
  padding: 20px;
}

header{
  text-align: center;
  padding: 20px;
  background: #2c3e50;
  color: #fff;
  border-radius: 8px;
}

header h1 {
  margin-bottom: 10px
}

nav{
  background: #34495e;
  margin: 20px 0;
  padding: 10px;
  border-radius: 8px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content:center;
  flex-wrap: wrap
}

nav ul li{
  margin: 0 15px
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover
nav ul li a:focus{
  text-decoration: underline;
}

main{
  max-width: 8000px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px; 
}

section{
  margin-bottom: 20px;
}
